<table>
    <tr>
        <th><app-cell [id]="1"></app-cell></th>
        <th><app-cell [id]="2"></app-cell></th>
        <th><app-cell [id]="3"></app-cell></th>
    </tr>
    <tr>
        <th><app-cell [id]="4"></app-cell></th>
        <th><app-cell [id]="5"></app-cell></th>
        <th><app-cell [id]="6"></app-cell></th>
    </tr>
    <tr>
        <th><app-cell [id]="7"></app-cell></th>
        <th><app-cell [id]="8"></app-cell></th>
        <th><app-cell [id]="9"></app-cell></th>
    </tr>
</table>